#gwd-reCAPTCHA_2{
    width: 100% !important;
}

#barrasuperior{

    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;    
    background: #002138;

}


#barrainferior{

position: absolute;
width: 100%;
height: 5%;
left: 0vw;
top: 95%;

background: #F8B31C;
}
